.box{
  border: 2px solid black;
  width : 40vh;
  margin: 1em 0.5em;
  text-align: center;
}
.WIN{
  border: 2px solid lightgreen;
  width : 40vh;
  margin: 1em 0.5em;
  text-align: center;
}
.LOSE{
  border: 2px solid red;
  width : 40vh;
  margin: 1em 0.5em;
  text-align: center;
}
.TIE{
  border: 2px solid black;
  width : 40vh;
  margin: 1em 0.5em;
  text-align: center;
}
.box-board{
  display: flex;
  justify-content: center;
}
.button-area{
  text-align: center;
}
.result-area{
  text-align: center;
}
.item-img{
  width: 90%;
}
button{
  background: none;
  border: none;
}